@import url("../css/bootstrap.min.css");
@import url("../css/animate.css");
@import url("../fonts/feather/feather.css");
@import url("../css/owl.theme.default.min.css");
@import url("../css/owl.carousel.min.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/muli/muli.css");
@import url("../fonts/fontawesome-free-5.14.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$bgcolor: #fafafa;
$textcolor: #666;
$fontsize: 18px;
$muli: "Muli";
$bebas: "Bebas Neue", cursive;
// normalize

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif !important;
	background-color: #fafbfc;
	color: #1c283a;
}

p {
	color: #1c283a;
	font-size: 18px;
	line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1c283a;
}

h1 {
	font-size: 48px;
	line-height: 58px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
}

h4 {
	font-size: 27px;
	line-height: 29px;
	font-weight: 700;
}

h5 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

h6 {
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: #000;
}

img {
	width: 100%;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

p {
	line-height: 32px;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

// Normalize

.btn-link {
	color: #0d373d;
	&:hover {
		color: #1eb7b3 !important;
	}
}

// conatiner

@media (max-width: 1200px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		width: 100%;
	}
}

.fas.fa-times {
	-webkit-text-stroke: 1px #fff;
}
// btns

.btn-primary {
	background-color: #1eb7b3;
	border-color: #1eb7b3;
	color: #fff;
	transition: all 0.8s;
	outline: 0 !important;
	border-radius: 3px !important;
	font-family: $muli !important;
	font-weight: 700 !important;

	&:hover {
		background-color: #1eb7b3;
		border-color: #1eb7b3;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
	}

	&:focus {
		background-color: #1eb7b3;
		border-color: #1eb7b3;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
	}

	&:not(:disabled):active {
		background-color: #1eb7b3 !important;
		border-color: #1eb7b3 !important;
		color: #fff !important;
	}
}

.btn-secondary {
	background-color: #191919;
	border-color: #191919;
	color: #fff;
	transition: all 0.8s;
	outline: 0 !important;
	border-radius: 3px !important;
	font-family: $muli !important;
	font-weight: 700 !important;

	&:hover {
		background-color: rgb(25, 25, 25);
		border-color: #191919;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4);
	}

	&:focus {
		background-color: #191919;
		border-color: #191919;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4) !important;
	}

	&:not(:disabled):active {
		background-color: #191919 !important;
		border-color: #191919 !important;
		color: #fff !important;
	}
}

.btn-transparent {
	background-color: transparent;
	border-color: #09343b;
	color: #09343b;
	transition: all 0.8s;
	outline: 0 !important;
	border-radius: 3px !important;
	font-family: $muli !important;
	font-weight: 700 !important;

	&:hover {
		background-color: #09343b;
		border-color: #09343b;
		color: #fff;
		transition: all 0.8s;
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
	}

	&:focus {
		background-color: #09343b;
		border-color: #09343b;
		color: #fff;
		transition: all 0.8s;
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
	}

	&:not(:disabled):active {
		background-color: #09343b !important;
		border-color: #09343b !important;
		color: #fff !important;
	}
}


.btn-green {
	background-color: #09343b;
	border-color: #09343b;
	color: #fff;
	transition: all 0.8s;
	outline: 0 !important;
	border-radius: 3px !important;
	font-family: $muli !important;
	font-weight: 700 !important;

	&:hover {
		background-color: #09343b;
		border-color: #09343b;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
	}

	&:focus {
		background-color: #09343b;
		border-color: #09343b;
		color: #fff;
		transition: all 0.8s;
		transform: translateY(-3px);
		box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
	}

	&:not(:disabled):active {
		background-color: #09343b !important;
		border-color: #09343b !important;
		color: #fff !important;
	}
}

.btn.btn-icon {
	background-color: #fff;
	border-color: #e6e6e6;
	color: #1c283a;
	transition: all 0.4s;
	outline: 0 !important;
	height: 50px;
	padding: 6px 15px;
	vertical-align: middle;
	display: flex;
	align-items: center;
	border-radius: 10px;
  justify-content: center;
  
	i {
		margin-right: 10px;
    font-size: 30px;
    
	}
	&:hover {
		background-color: #6fb02f;
		border-color: #6fb02f;
		color: #fff;
		transition: all 0.4s;
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
		// transform: translateY(-3px);
		// box-shadow: 0 3px 15px 0 rgba(245, 128, 49, 0.4);
	}

	&:focus {
		background-color: #6fb02f;
		border-color: #6fb02f;
		color: #fff;
		transition: all 0.4s;
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
		// transform: translateY(-3px);
		// box-shadow: 0 3px 15px 0 rgba(245, 128, 49, 0.4) !important;
	}

	// &:not(:disabled):active {
	//     background-color: transparent !important;
	//     border-color: transparent !important;
	//     color: #1C283A !important;
	// }
}

.btn {
	padding: 8px 20px;
	font-size: 16px;
	line-height: 20px;
	border-radius: 10px;
}

.btn-lg {
	height: 50px;
	line-height: 30px;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: 500;
}

.btn-pad-60 {
	padding: 8px 60px;
}

.btn-pad-100 {
	padding: 10px 100px;
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-100 {
	width: 100%;
}

.form-group {
	margin-bottom: 20px;

	.has-float-label {
		width: 100%;
		margin-bottom: 0;
	}

	label {
		font-size: 18px;
		color: #181818;
		letter-spacing: 0;
		font-weight: 400;
		margin-bottom: 10px;
	}

	.form-control {
		border: 1px solid #cccccc;
		height: 50px;
		background-color: #fff;
		border-radius: 3px;
		font-size: 16px;
		line-height: 16px;
		outline: 0;
		color: #09343b;
		padding: 18px 15px 6px 15px;
		font-weight: 400;
		transition: all 0.2s;
    box-shadow: none !important;
    
		&::placeholder {
			color: #cccccc;
		}

		&:focus {
			transition: all 0.2s;
			color: #000;
			// box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
			border: 1px solid #09343b;
		}

		&:hover {
			transition: all 0.2s;
			color: #000;
			// box-shadow: 0 0 0 0.2rem rgba(30, 183, 179, 0.30);
			border: 1px solid #09343b;
		}
	}

	span.text {
		display: block;
		width: 100%;
		margin: 5px 15px;
		color: #cccccc;
	}
}

.dropdown-menu {
	ul {
		li {
			.dropdown-item {
				background-color: #fafafa;
				color: #09343b;

				&:hover {
					background-color: #1eb7b3;
					color: #fff;
				}
			}
		}
	}
}

// select2

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #1eb7b3 !important;
	color: #fff;
}

.select2 {
	width: 100% !important;
}

.select2-container {
	border: 0;
}

.select2-container--default .select2-selection--single {
	outline: 0;
	height: 50px !important;
	border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	border: 1px solid #09343b;
	height: 50px;
	background-color: #fff;
	border-radius: 4px;
	font-size: 16px;
	line-height: 50px !important;
	font-weight: 400;
	padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 50px !important;
	width: 30px !important;
}
//
.form-group.form-gray {
	margin-bottom: 30px;

	.form-control {
		border: 1px solid #ebebeb;
		height: 63px;
		background-color: #ebebeb;
		border-radius: 0;
		font-size: 14px;
		line-height: 30px;
		outline: 0;
		color: #222222;
		letter-spacing: 0.6px;
		padding: 8px 20px;
		font-weight: 500;
		transition: all 0.2s;
		box-shadow: none !important;

		&::placeholder {
			color: #aaaaaa;
		}

		&:focus {
			transition: all 0.2s;
			// border-color: rgba(245, 128, 49, 0.30);
			color: #000;
			box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
		}

		&:hover {
			transition: all 0.2s;
			// border-color: rgba(245, 128, 49, 0.30);
			color: #000;
			box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
		}
	}
}

.input-group {
	.input-group-addon {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;
		height: 50px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: #727272;
		}

		i {
			font-size: 19px;
			top: 2px;
			position: relative;
		}

		border-radius: 0 10px 10px 0 !important;
	}

	.form-control {
		padding-right: 60px;
		border-radius: 3px;
		padding: 18px 15px 6px 15px;
		overflow: hidden;
	}
}

.input-group-2 {
	position: relative;

	.input-group-addon {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		height: 50px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: #727272;
		}

		i {
			font-size: 20px;
    }
		border-radius: 0 10px 10px 0 !important;
	}

	.form-control {
		padding-left: 60px;
		border-radius: 10px !important;
		overflow: hidden;
	}
}

// svg icon

.svg-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: cover;
	background-color: rgba(9, 52, 59, 0.7);
	transition: all 0.2s;
}

.svg-icon-2 {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-color: rgba(9, 52, 59, 0.4);
	transition: all 0.2s;
}

.icon-stackable {
	-webkit-mask: url(../images/icons/icon1.svg) no-repeat 50% 50%;
	mask: url(../images/icons/icon1.svg) no-repeat 50% 50%;
	width: 40px;
	height: 40px;
}

.icon-stackable-none {
	-webkit-mask: url(../images/icons/icon2.svg) no-repeat 50% 50%;
	mask: url(../images/icons/icon2.svg) no-repeat 50% 50%;
	width: 40px;
	height: 40px;
}


.icon-mail {
	-webkit-mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
	mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
	width: 19px;
	height: 19px;
}

.icon-key {
	-webkit-mask: url(../images/icons/key.svg) no-repeat 50% 50%;
	mask: url(../images/icons/key.svg) no-repeat 50% 50%;
	width: 20px;
	height: 20px;
}

.icon-phone {
	-webkit-mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
	mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
	width: 24px;
	height: 24px;
}

.icon-calendar {
	-webkit-mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
	mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
	width: 24px;
	height: 24px;
}

.focus-hover {
	.svg-icon {
		background-color: #09343b;
		transition: all 0.3s;
	}

	i {
		color: #09343b;
		transition: all 0.3s;
	}
}

// flat picker {
.flatpickr-day.today {
	border-color: #0d373d !important;
}

.flatpickr-day:hover {
	background-color: #0d373d !important;
	border-color: #0d373d !important;
	color: #fff;
}

.flatpickr-day.selected {
	background-color: #0d373d !important;
	border-color: #0d373d !important;
}

@mixin heading {
	h4 {
		font-size: 22px;
		line-height: 27px;
		color: #0d373d;
		font-weight: 700;
		margin-bottom: 10px;
	}

	@media (max-width: 767px) {
		h4 {
			font-size: 18px;
			line-height: 24px;
			color: #0d373d;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}
}
/*###########################################################################
############################## header section ###############################*/

.fixed-top {
	background-color: #fff;
	box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
	.row-100 {
		width: 100%;
		margin: 0;

		.col-12 {
			padding: 0;
		}
	}

	.nav-group {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.dropdown-user {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		a {
			font-size: 14px;
			line-height: 18px;
			color: #343333;
			font-weight: 600;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			.avtar {
				height: 40px;
				width: 40px;
				min-width: 40px;
				overflow: hidden;
				border-radius: 100%;
				margin-right: 8px;
				display: flex;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.dropdown-menu {
			background: #fff;
			margin-top: 30px;
			box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
			border-radius: 6px 6px;
			right: -20px;
			top: 20px;
			left: auto !important;
			min-width: 180px;
			border: 0 solid #f1f1f1;

			&::before {
				content: "";
				border-top: 10px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 10px solid #fff;
				border-left: 7px solid transparent;
				display: inline-block;
				position: absolute;
				top: -20px;
				right: 17px;
			}

			ul {
				li {
					a {
						.fe {
							font-size: 20px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.navbar {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		display: flex;
		height: 80px;
		background-color: #fff;
		box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
		z-index: 999;
		border-bottom: 1px solid rgba(236, 236, 236, 0.6);
		padding: 0;

		.col-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;

			.col-30 {
				flex: 0 0 150px;
				max-width: 150px;
			}

			.col-70 {
				flex: 0 0 calc(100% - 150px);
				max-width: calc(100% - 150px);
			}
		}

		.navbar-brand {
			width: 120px;
			height: auto;

			img {
				width: 100%;
			}
		}

		.navbar-toggler {
			padding: 0;
			outline: 0 !important;
			border: 0;

			.navbar-toggler-icon {
				background-image: url("../../assets/images/menubar.png");
				background-repeat: no-repeat;
				background-size: contain;
				height: 22px;
				width: 34px;
				border: 0;
			}
		}

		.navbar-toggler {
			position: absolute;
			right: 15px;
			top: 8px;
			border: 0;
		}

		.collapse1 {
			height: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.navbar-nav {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.nav-item {
					.nav-link {
						color: #343333;
						font-size: 14px;
						line-height: 18px;
						padding: 5px 20px;
						font-weight: 600;
						transition: all 0.4s ease-in-out;
						background-color: transparent;
						border-radius: 5px;

						&:hover {
							transition: all 0.4s ease-in-out;
							color: #1eb7b3;
						}
					}

					.nav-link.active {
						transition: all 0.4s ease-in-out;
						color: #1eb7b3;
					}
				}

				.nav-item.btn-nav {
					.btn {
						transform: none;
						box-shadow: none;
						height: 42px;
						font-size: 20px;
						line-height: 27px;
						padding: 6px 45px;
						color: #09343B;
						border-color: rgba(9,52,59,0.22);
						font-weight: 700;
						background-color: transparent;
            transition: all 0.3s ease-in-out;	
            
						&:hover {
							background-color: #09343B;
							color: #fff;
							transition: all 0.3s ease-in-out
						}
					}
				}
			}
		}

		.nav-btn {
			width: auto;
		}
	}
}

.header-2 .navbar .navbar-toggler {
    top: -10px;
}

.sidenav-new-menu .closebtn {
	display: none;
}

.custom-checkbox {
	.custom-control-label {
		font-size: 12px;
		line-height: 27px;
		padding-left: 8px;
		font-weight: 600;
		margin-bottom: 0;
		letter-spacing: 0.4px;
		color: #222222;

		&::before {
			height: 19px;
			width: 19px;
			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.25);
    }
    
		&::after {
			top: 2px;
			left: -26px;
			display: block;
			width: 22px;
			height: 22px;
		}
	}
	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: #1eb7b3 !important;
		border-color: rgb(30, 184, 179) !important;
	}

	.custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
	}

	.custom-control-input:checked ~ .custom-control-label::after {
	}
}

/*############################## Home section ###############################*/
// helper class

.closebtn img {
	width: 22px;
	height: 21px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/

@media (max-width: 767px) {


	.header {
		.navbar {
			padding: 8px 0;
			z-index: 999;
			height: 70px;

			.col-header {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;

				.col-30 {
					flex: 0 0 70%;
					max-width: 70%;
				}

				.col-70 {
					flex: 0 0 30%;
					max-width: 30%;
				}
      }
      
			.row-100 {
				width: 100%;
				margin: 0;

				.col-12 {
					padding: 0 15px;
				}

				.col-header {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: 100%;

					.col-30 {
						flex: 0 0 20%;
						max-width: 20%;
					}

					.col-70 {
						flex: 0 0 80%;
						max-width: 80%;
					}
				}

				.navbar-brand {
					width: 120px;
					height: auto;

					img {
						width: 100%;
					}
				}
			}

			.collapse1 {
				padding: 10px 0;
				display: block !important;

				.navbar-nav {

					.nav-item {
						padding: 0 20px;

						.nav-link {
							font-size: 16px;
							line-height: 26px;
							padding: 8px 12px;
							font-weight: 500;
							white-space: nowrap;
							background-color: transparent;
							color: #1c283a;

							&:hover {
								background-color: transparent;
								color: #1eb7b3;
							}

							&.active {
								background-color: transparent;
								color: #1eb7b3;
							}
						}
          }
          
          .nav-item.btn-nav {
            .btn {
              transform: none;
              box-shadow: none;
              height: 38px;
              font-size: 16px;
              line-height: 24px;
              padding: 6px 35px;
            }

          }
				}
			}

			.nav-btn {
				margin: 10px 0 0 0;
				text-align: center;
			}
		}
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 50px 0 20px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 70%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		display: block;
	}

	.header .dropdown-user {
		margin-right: 60px;
	}
}

@media (min-width: 768px) and (max-width: 996px) {
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar-expand-md .navbar-toggler {
		display: block;
	}

	.header .dropdown-user {
		margin-right: 80px;
	}

	.header {
		.navbar {
			z-index: 999;

			.collapse1 {
				display: block !important;

				.navbar-nav {
					display: inline-block;
					margin-left: 0 !important;

					.nav-item {
						padding: 0 20px;

						.nav-link {
							font-size: 16px;
							line-height: 26px;
							padding: 8px 12px;
							font-weight: 500;
							text-align: center;
							white-space: nowrap;
							background-color: transparent;
							color: #1c283a;

							&:hover {
								background-color: transparent;
								color: #1eb7b3;
							}

							&.active {
								background-color: transparent;
								color: #1eb7b3;
							}
						}
					}
					padding-bottom: 30px;
				}
			}

			.nav-btn {
				text-align: center;
				white-space: nowrap;
			}
		}
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 50px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 35%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		display: block;
	}

	// middle-section
	.banner-section {
			padding: 60px 0;

			.content-left {
				padding: 0px 0;
				margin-bottom: 40px;

				h2 {
					font-size: 50px;
					line-height: 55px;
					margin-bottom: 40px;
				}

				.btn-primary {
					height: 50px;
					padding: 8px 40px;
					line-height: 34px;
				}
			}

			.content-right {
				display: block;

				img {
					display: block;
				}
			}
		}
	
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.header {
		.navbar {
			.collapse1 {
				.navbar-nav {
					.nav-item {
						.nav-link {
							font-size: 12px;
							line-height: 22x;
							padding: 8px 10px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
	.header .navbar .collapse1 .navbar-nav .nav-item {
		padding: 0 20px;
	}

	#cd-shadow-layer {
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(28, 40, 58, 0.5);
		cursor: pointer;
		z-index: 2;
		display: none;
		z-index: 99999;
	}

	.sidenav-new-menu {
		height: 100%;
		min-height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		right: 0;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 999999;
		background-color: #fff;
		padding: 40px 0 20px 0 !important;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.width-menu {
		width: 30%;
		display: block !important;
	}

	.closebtn {
		display: block !important;
		color: #1c283a;
		text-decoration: none;
	}

	.closebtn:hover {
		display: block;
		color: #1c283a;
		text-decoration: none;
	}

	.sidenav-new-menu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		display: block;
	}
}

/*######################################################################

middle sectio start here

#################################################################### */

.middle-section {
	margin: 80px 0 0 0;
	// banner

	.authentication-box {
		padding-top: 100px;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			background-image: url(../images/pattern.svg);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: -50%;
			bottom: 10%;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		&::before {
			content: "";
			background-image: url(../images/pattern-2.svg);
			background-size: 100% 100%;
			background-position: center;
			display: block;
			position: absolute;
			left: -50%;
			top: 10%;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		.authentication-box-inner {
			min-height: calc(100vh - 160px);
			z-index: 2;
			position: relative;
			width: 100%;
		}

		.container {
			width: 100%;
			margin: 0 auto;
		}

		.content-box {
			.login-header {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				margin-bottom: 31px;
				max-width: 500px;
				width: 100%;

				.login-logo {
					width: 110px;
					height: auto;
				}
			}

			.login-body {
				max-width: 500px;
				width: 100%;
				padding: 40px 56px;
				background-color: #fff;
				margin: 0 auto 20px auto;
				box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);

				.title {
					h3 {
						font-size: 14px;
						line-height: 29px;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: -0.5px;
						margin-bottom: 20px;
					}
				}

				.password-sent-img {
					max-width: 260px;
					margin: 50px auto 80px auto;

					img {
						width: 100%;
					}
				}

				.password-sent-info {
					h3 {
						color: #343333;
						font-size: 22px;
						line-height: 29px;
						text-align: center;
					}

					p {
						font-size: 16px;
						line-height: 26px;
						letter-spacing: -0.4px;
						text-align: center;
					}
				}

				.forgot-link {
					font-size: 18px;
					line-height: 20px;
					font-weight: 700;
					color: #0d373d;
					text-align: center;
					width: 100%;
					display: block;
				}
			}

			.password-sent-body {
				background-image: url(../images/password-sent.svg);
				background-position: 100% -10%;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	.login-footer {
		padding: 10px 0;
		text-align: center;
		width: 100%;

		p {
			font-size: 18px;
			line-height: 23px;
			color: #343333;
			font-family: $muli;
		}

		a {
			display: inline-block;
			font-size: 18px;
			line-height: 23px;
			color: #0d373d;
      font-weight: 700;
      
			&:hover {
				color: #1eb7b3;
			}
		}
	}

	.dashbaord-section {
		margin-top: 40px;
		height: 50px;

		.add-shipment-main {
			.add-new-shipment {
				margin-bottom: 40px;

				.btn-add-ship {
					height: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					font-size: 22px;
					line-height: 27px;
					font-weight: 800;

					i {
						font-weight: 600;
					}
				}
			}
		}

		.summary-status-main {
			margin-bottom: 20px;

			.heading {
				@include heading();
			}

			.status-box {
				background-color: #fff;
				padding: 10px 36px 20px 36px;
				border-radius: 6px;
				margin-bottom: 20px;

				h3 {
					font-size: 42px;
					line-height: 43px;
					color: #1eb7b3;
					font-weight: 400;
					font-family: $bebas;
				}

				p {
					font-size: 16px;
					line-height: 19px;
					color: #30475e;
					font-weight: 400;
					margin-bottom: 0;
        }
        
				.dot {
					height: 12px;
					width: 12px;
					border-radius: 100%;
					background-color: #000;
					display: inline-block;
				}

				.deliverd {
					background-color: #00ff1d;
				}

				.inprogress {
					background-color: #fce013;
				}

				.cancelled {
					background-color: #d50000;
				}
			}
		}

		.chart-main {
			margin-bottom: 20px;

			.heading {
				@include heading();
			}

			.chart-area {
				padding: 40px 30px;
				background-color: #fff;

				.chart-summary {
				}
			}
		}
	}

	.overview-section {
		margin-top: 60px;

		.overview-inner {
			.overview-main {
				.heading {
					margin-bottom: 40px;
					@include heading();
				}
			}

			.overview-detail {
				background-color: #fff;
				padding: 20px 40px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
				min-height: calc(100vh - 215px);

				.nav-tabs {
					border-bottom: 0;
					margin-bottom: 20px;

					li {
						a {
							color: rgba(13, 55, 61, 0.5);
							font-size: 16px;
							font-weight: 600;
							padding: 5px 0;
							margin: 10px 20px;
							display: block;
							border-bottom: 1px solid #fff;

							&:hover {
								color: #0d373d;
							}

							&.active {
								color: #0d373d;
								border-bottom: 1px solid #0d373d;
							}
						}
					}
				}

				.overview-btns {
					display: flex;
					justify-content: flex-end;

					.btn-primary {
						transform: none !important;

						&:hover {
							background-color: #0d373d;
							border-color: #0d373d;
						}
					}
				}

				.top-tab {
					position: absolute;
					top: -60px;
					right: 20px;
				}

				.custom-table-div {
					table {
						th {
							color: rgba(9, 52, 59, 0.5);
							background-color: #fff;
							font-weight: 400;
							border: 0;
							font-size: 14px;
							line-height: 18px;
						}

						td {
							border: 0;
							font-size: 14px;
							line-height: 18px;
							font-weight: 500;
							color: rgba(9, 52, 59, 1);
							background-color: #fafafa;
							vertical-align: middle;
							border-top: 10px solid #fff;
							white-space: nowrap;
						}

						.select-row {
							display: flex;
							align-items: center;
							justify-content: center;
						}

						tbody + tbody {
							border: 0 !important;
						}

						.icon-tbl {
							width: 24px;
							height: 24px;
							object-fit: cover;
						}

						.inprogress,
						.inprocess {
							color: #fce013 !important;
						}

						.deliverd {
							color: #00ff1d !important;
						}
						.cancelled {
							color: #d50000 !important;
						}

						.action {
							display: flex;
						}

						.form-group .form-control {
							padding: 15px 15px 15px 15px !important;
						}

						.close-collapse {
							font-size: 24px;
							color: #09343b;
						}
					}
				}

				.invoices-inner {
					.form-group .form-control {
						padding: 15px 15px 15px 15px !important;
					}
				}
			}
		}
	}

	.shipment-section {
    margin-top: 60px;
    
		.shipment-main {
			.heading {
				@include heading();
			}
		}

		.shipment-form-section {
			.shipment-form-header {
				.shipment-tab {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					width: 100%;
					flex-wrap: nowrap;
					padding: 40px 0 50px 0;
					position: relative;
					border-bottom: 0;
					margin-top: 30px;

					&::after {
						content: "";
						width: 100%;
						height: 1px;
						background-color: rgba(34, 40, 49, 0.18);
						position: absolute;
						top: 10px;
					}

					li {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
            			position: relative;
            
						&::before {
							content: "";
							width: 42px;
							height: 42px;
							background-image: url(../images/icons/step.png);
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							position: absolute;
							top: -50px;
							border: 5px solid #fafbfc;
							background-color: #fafbfc;
							display: block;
							z-index: 3;
						}

						a {
							display: flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							padding: 50px 10px 10px 10px;
							color: #09343b;
							font-size: 16px;
							line-height: 26px;
							position: absolute;
							top: -40px;
							z-index: 5;
						}

						&:first-child {
							justify-content: flex-start;
							width: 70%;
							a {
								display: flex;
								align-items: center;
								justify-content: flex-start;
							}
						}

						&:last-child {
							justify-content: flex-end;
							width: 70%;
							a {
								display: flex;
								align-items: center;
								justify-content: flex-end;
							}
						}
					}

					li.active {
						&::before {
							content: "";
							width: 42px;
							height: 42px;
							background-image: url(../images/icons/step-check.png);
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							position: absolute;
							top: -50px;
							border: 5px solid #fafbfc;
							background-color: #fafbfc;
							display: block;
							z-index: 3;
						}

						&::after {
							content: "";
							left: 0;
							width: 200%;
							height: 1px;
							background-color: rgba(34, 40, 49, 1);
							position: absolute;
							top: -30px;
							display: block;
						}
					}

					li.done {
						&::before {
							content: "";
							width: 42px;
							height: 42px;
							background-image: url(../images/icons/done.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							position: absolute;
							top: -50px;
							border: 5px solid #fafbfc;
							background-color: #fafbfc;
							display: block;
							z-index: 4;
						}

						&::after {
							content: "";
							left: 0;
							right: 0;
							width: 180%;
							height: 1px;
							background-color: #1eb7b3;
							position: absolute;
							top: -30px;
							display: block;
							z-index: 2;
						}
					}

					li.done:nth-child(2) {
						&::after {
							left: 50%;
							width: 100%;
						}
					}

					li.active:nth-child(2) {
						&::after {
							left: 50%;
							width: 100%;
						}
					}

					li:last-child {
						&::after {
							display: none !important;
						}
					}

					li:last-child {
						&::after {
							display: none !important;
						}
					}
				}
			}

			.shipment-form-body {
				margin-top: 20px;
				background-color: #fff;
				padding: 40px 40px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
				min-height: calc(100vh - 320px);
				border-radius: 7px;

				.form-shipment {
					margin-bottom: 20px;

					h3 {
						margin-bottom: 20px;
						color: #0d373d;
						font-size: 16px;
						font-weight: 700;
						line-height: 19px;
					}

					.form-group {
						label {
							font-size: 12px;
							margin-bottom: 15px;
							font-weight: 500;
							color: #0d373d;
						}
						.form-control {
							padding: 15px 20px;
							font-weight: 400;
							border-radius: 4px;
						}
					}

					.input-group {
						width: 100%;

						.input-group-addon {
							top: 32px;
						}

						.form-control {
							width: 100%;
						}
					}

					hr {
						border-color: #e8e8e8 !important;
						margin: 20px 0 40px 0;
					}

					.radio-group {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-bottom: 30px;

						.custom-radio {
							margin-right: 20px;
							display: flex;
							align-items: flex-start;
							justify-content: flex-start;
							flex-direction: column-reverse;
							margin-right: 40px;

							.custom-control-label {
								padding-top: 60px;
								position: relative;
								font-size: 12px;
								line-height: 30px;

								&::after {
									top: 70px;
								}

								&::before {
									top: 65px;
									color: #fff;
									// background-color: #0D373D;
									border-color: #0d373d;
								}
							}

							.radio-box {
								width: 104px;
								height: 50px;
								border: 1px solid rgba(13, 56, 63, 0.5);
								display: block;
								position: absolute;
								top: 0;
								left: -23px;
								border-radius: 3px !important;
								text-align: center;
								display: flex;
								align-items: center;
								flex-direction: column;
								justify-content: flex-end;

								img {
									width: 40px;
									height: 40px;
									object-fit: contain;
								}
							}
						}

						.custom-radio {
							display: inline-block;

							.custom-control-input {
								&:checked {
									& ~ .custom-control-label {
										position: relative;

										.radio-box {
											border: 1px solid rgba(13, 56, 63, 1);

											.svg-icon-2 {
												background-color: rgba(13, 56, 63, 1);
											}
										}

										&::before {
											background-color: #fff;
											border: 2px solid #0d373d;
											box-shadow: none;
											outline: 0;
										}
										&::after {
											background-color: #0d373d;
											background-image: none;
											border-radius: 100px;
											height: 10px;
											width: 10px;
											left: -19px;
										}
									}
								}
							}

							.custom-control-label {
								&::before {
									border: 2px solid #0d373d;
									width: 20px;
									height: 20px;
								}
							}
						}
					}

					.add-shipment-btn {
						.btn {
							height: 60px;
							padding: 15px 40px;
							width: 100%;
							line-height: 30px;
						}
					}
				}

				.transport-form {
					.custom-radio {
						display: inline-block;

						.custom-control-input {

							&:checked {
								& ~ .custom-control-label {
									position: relative;
									color: #0d373d;

									&::before {
										background-color: #fff;
										border: 2px solid #0d373d;
										box-shadow: none;
										outline: 0;
										top: 0;
									}

									&::after {
										background-color: #0d373d;
										background-image: none;
										border-radius: 100px;
										height: 10px;
										width: 10px;
										left: -19px;
										top: 5px;
									}
								}
							}
						}

						.custom-control-label {
							&::before {
								border: 2px solid #0d373d;
								width: 20px;
								height: 20px;
								top: 0;
							}
						}
					}

					.card {
						.card-header {
							background-color: transparent;
							text-align: center;
						}

						.card-body {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 120px;

							.img-transport {
								width: 100%;
								object-fit: contain;
								max-width: 92px;
							}
						}
					}

					.card-footer {
						p {
							text-align: center;
							font-size: 16px;
							line-height: 19px;
							color: #0d373d;
							margin-bottom: 0;
							font-weight: 400;
						}
					}

					.card.active {
						border-color: #1eb7b3 !important;

						.card-header {
							border-color: #1eb7b3 !important;
							background-color: rgba(0, 84, 213, 0.03);

							label {
								color: #1eb7b3 !important;
							}

							.custom-radio {
								.custom-control-input {
									&:checked {
										& ~ .custom-control-label {
											position: relative;
											color: #1eb7b3;

											&::before {
												background-color: #fff;
												border: 2px solid #1eb7b3;
											}
											&::after {
												background-color: #1eb7b3;
											}
										}
									}
								}

								.custom-control-label {
									&::before {
										border: 2px solid #0d373d;
									}
								}
							}
						}
					}

					.price-details {
						h3 {
							margin-bottom: 30px;
						}

						.price {
							max-width: 200px;
							width: 100%;

							p {
								font-size: 16px;
								line-height: 19px;
								color: #0d373d;
								display: flex;
								justify-content: space-between;
							}

							.total {
								color: #1eb7b3;
								font-weight: 600;
							}
						}
					}

					.address-transport {
						h3 {
							margin-bottom: 30px;
						}

						ul {
							position: relative;

							&::after {
								content: "";
								width: 2px;
								height: 95%;
								position: absolute;
								left: 5px;
								top: 0;
								border: 0.5px dashed #1eb7b3;
							}

							li {
								font-size: 16px;
								line-height: 19px;
								font-weight: 400;
								color: #09343b;
								margin-bottom: 30px;
								padding-left: 30px;
								position: relative;

								&::after {
									content: "";
									width: 14px;
									height: 14px;
									position: absolute;
									left: -2px;
									top: 0;
									border-radius: 100%;
									background-color: #1eb7b3;
								}
							}

							li.location {
								&::after {
									content: "";
									background-image: url(../images/icons/location.svg);
									background-repeat: no-repeat;
									background-position: center;
									background-size: contain;
									width: 24px;
									height: 24px;
									position: absolute;
									left: -5px;
									top: 0;
									border-radius: 100%;
									background-color: #fff;
								}
							}
						}
					}
				}

				.footer-form {
					text-align: right;

					.btn {
						padding: 8px 60px;
						transform: none !important;

						&:hover {
							background-color: #09343b;
							border-color: #09343b;
						}
					}
				}
			}

			.custom-table-div {
				table {
					th {
						color: rgba(9, 52, 59, 0.5);
						background-color: #fff;
						font-weight: 400;
						border: 0;
						font-size: 14px;
						line-height: 18px;
		}
		
					td {
						border: 0;
						font-size: 14px;
						line-height: 18px;
						font-weight: 500;
						color: rgba(9, 52, 59, 1);
						background-color: #fafafa;
						vertical-align: middle;
						border-top: 10px solid #fff;
						white-space: nowrap;

						&:first-child {
							color: #1EB7B3;
							font-weight: 600;
						}
					}

					.select-row {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					tbody + tbody {
						border: 0 !important;
					}

					.icon-tbl {
						width: 24px;
						height: 24px;
						object-fit: cover;
					}

					.inprogress,
					.inprocess {
						color: #fce013 !important;
					}

					.deliverd {
						color: #00ff1d !important;
					}
					.cancelled {
						color: #d50000 !important;
					}

					.action {
						display: flex;
					}

					.form-group .form-control {
						padding: 15px 15px 15px 15px !important;
					}

					.close-collapse {
						font-size: 24px;
						color: #09343b;
					}
				}
			}
		}
	}

	.profile-section {
		margin-top: 60px;
		.profile-inner {
			.profile-main {
				.heading {
					margin-bottom: 40px;
					@include heading();
				}
			}

			.profile-detail {
				background-color: #fff;
				padding: 20px 40px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);

				.nav-tabs {
					border-bottom: 0;
					margin-bottom: 20px;

					li {
						a {
							color: rgba(13, 55, 61, 0.5);
							font-size: 16px;
							font-weight: 600;
							padding: 5px 0;
							margin: 10px 20px;
							display: block;
							border-bottom: 1px solid #fff;

							&:hover {
								color: #0d373d;
							}

							&.active {
								color: #0d373d;
								border-bottom: 1px solid #0d373d;
							}
						}
					}
				}

				.profile-btns {
					display: flex;
					justify-content: flex-end;

					.btn-primary {
						transform: none !important;

						&:hover {
							background-color: #0d373d;
							border-color: #0d373d;
						}
					}
				}

				.top-tab {
					position: absolute;
					top: -60px;
					right: 20px;
				}

				.custom-table-div {
					table {
						th {
							color: rgba(9, 52, 59, 0.5);
							background-color: #fff;
							font-weight: 400;
							border: 0;
							font-size: 14px;
							line-height: 18px;
            }
            
						td {
							border: 0;
							font-size: 14px;
							line-height: 18px;
							font-weight: 500;
							color: rgba(9, 52, 59, 1);
							background-color: #fafafa;
							vertical-align: middle;
							border-top: 10px solid #fff;
							white-space: nowrap;
						}

						.select-row {
							display: flex;
							align-items: center;
							justify-content: center;
						}

						tbody + tbody {
							border: 0 !important;
						}

						.icon-tbl {
							width: 24px;
							height: 24px;
							object-fit: cover;
						}

						.inprogress,
						.inprocess {
							color: #fce013 !important;
						}

						.deliverd {
							color: #00ff1d !important;
						}
						.cancelled {
							color: #d50000 !important;
						}

						.action {
							display: flex;
						}

						.form-group .form-control {
							padding: 15px 15px 15px 15px !important;
						}

						.close-collapse {
							font-size: 24px;
							color: #09343b;
						}
					}
				}

				.profile-inner {
					.form-group {
						label {
							font-size: 12px;
							margin-bottom: 10px;
							font-weight: 500;
							color: #0d373d;
						}

						.form-control {
							padding: 15px 15px 15px 15px !important;
						}
					}

					.profile-user {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						.profile-img {
							height: 186px;
							width: 186px;
							border-radius: 100%;
							overflow: hidden;
							img {
								width: 100%;
								object-fit: cover;
								height: 100%;
							}
						}

						.upload {
							span {
								color: #09343b;
								font-size: 14px;
								line-height: 16px;
								font-weight: 600;
								padding: 8px 10px;
								display: block;
								text-align: center;
							}
						}
					}
				}
			}

			.heading-password {
				h4 {
					font-size: 16px;
					line-height: 19px;
					font-weight: 400;
				}
			}

			.footer-profile {
				text-align: right;
				padding-top: 50px;
				padding-bottom: 15px;

				.btn {
					padding: 8px 60px;
					transform: none !important;

					&:hover {
						background-color: #09343b;
						border-color: #09343b;
					}
				}
			}
		}
	}

	.address-section {
		margin-top: 60px;
		.address-inner {
			.address-main {
				.heading {
					margin-bottom: 40px;
					@include heading();
				}
			}

			.address-detail {
				background-color: #fff;
				padding: 40px 40px;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);

				.heading {
					padding: 10px 0;
					margin-bottom: 0;

					h3 {
						margin-bottom: 20px;
						color: #0d373d;
						font-size: 16px;
						font-weight: 700;
						line-height: 19px;
					}

					display: flex;
					justify-content: space-between;
					align-items: center;

					a {
						font-size: 16px;
						line-height: 19px;
						color: #1eb7b3;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 20px;
						display: block;
					}
				}

				.form-group {
					label {
						font-size: 12px;
						margin-bottom: 10px;
						font-weight: 500;
						color: #0d373d;
					}

					.form-control {
						padding: 15px 15px 15px 15px !important;
					}
				}

				.input-group {
					width: 100%;

					.input-group-addon {
						top: 32px;
					}

					.form-control {
						width: 100%;
					}
				}
			}

			.footer-address {
				text-align: right;
				padding-top: 50px;
				padding-bottom: 15px;

				.btn {
					padding: 8px 60px;
					transform: none !important;

					&:hover {
						background-color: #09343b;
						border-color: #09343b;
					}
				}
			}
		}
	}

	.banner-section {
		background-color: #F7F7F7;
	padding: 50px 0 80px 0;
	
    
		.banner-inner {
			position: relative;
			z-index: 15;
		}

		position: relative;
		overflow: hidden;
		

		&::after {
			content: "";
			background-image: url(../images/pattern.svg);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: -65%;
			bottom: -218px;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		&::before {
			content: "";
			background-image: url(../images/pattern-2.svg);
			background-size: 100% 100%;
			background-position: center;
			display: block;
			position: absolute;
			left: -60%;
			top: 10%;
			height: 100%;
			width: 100%;
			z-index: 1;
		}


		.content-left {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			padding: 100px 0 150px 0;

			h2 {
				font-size: 74px;
				line-height: 85px;
				color: #09343B;
				margin-bottom: 65px;
				letter-spacing: 1px;
				font-family: $bebas !important;
				span {
					color: #1EB7B3;
				}
			}

			.btn-primary {
				height: 70px;
				font-size: 18px;
				text-transform: uppercase;
				padding: 24px 50px;
				font-weight: 800;
				z-index: 15;
				position: relative;
			}
		}

		.content-right {
			
			img {
				width: 100%;
			}
		}
	}

	.online-store-section {
		background-color: #FAFBFC;
		padding: 120px 0;
		position: relative;
		overflow: hidden;
		

		&::after {
			content: "";
			background-image: url(../images/pattern.svg);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: calc(-66% - 6px);
			top: -73%;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		.heading {
			margin-bottom: 80px;
			
			h3 {
				font-size: 32px;
				color: #09343B;
				line-height: 39px;
				text-align: center;
				text-transform: uppercase;

				span {
					color: #1EB7B3;
				}
			}
		}

		.store-details {
			.store-box {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
        position: relative;
        
					&:after {
						content:'';
						background-image: url("../images/line.svg");
						background-position: center;
						background-repeat: no-repeat;
						width: 100%;
						height: 40px;
						position: absolute;
						right: auto;
						top: 25px;
						left: 50%;
					}

					&.line-none {
						&:after {
							display: none;
						}
					}


				.step {
					height: 92px;
					width: 92px;
					min-width: 92px;
					background-color: #1EB7B3;
					border-radius: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					margin-bottom: 30px;
					border: 16px solid #ffff;
					position: relative;
					z-index: 5;
					
					h3 {
						color: #fff;
						font-size: 28px;
						line-height: 28px;
						margin: 0;
					}
				}

				.step-content {
					max-width: 218px;

					h4 {
						font-size: 22px;
						line-height: 27px;
						color: #09343B;
						text-align: center;
						margin-bottom: 10px;
					}

					 P {
						color: rgba(9, 52, 59, 0.67);
						font-size: 14px;
						line-height: 18px;
						text-align: center;
					 }
				}

			}
		}
	}

	.wanttosay-section {
		padding: 120px 0;
		background-color: #F7F7F7;

		.heading {
			margin-bottom: 60px;
			
			h3 {
				font-size: 32px;
				color: #09343B;
				line-height: 39px;
				text-align: center;
				text-transform: uppercase;

				span {
					color: #1EB7B3;
				}
			}
		}

		.send-us-div {
			text-align: center;

			.btn-green {
				height: 70px;
				font-size: 18px;
				text-transform: uppercase;
				padding: 24px 50px;
				font-weight: 800;
			}

			.conatct-text {
				padding: 20px 0;

				p {
					font-size: 16px;
					line-height: 19px;
					color: #081B1E;

					a {
						color: #081B1E;

						&:hover {
							color: #081B1E;
						}
					}
				}
			}
		}
	}

	.footer-banner-section {
			min-height: 346px;
			background-image: url(../images/footer-img.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			height: 100%;
			display: block;
	}
}

.modal {


	.modal-header {
		h5 {
			font-weight: 700;
			color: #0d373d;
		}
	}

	.form-group {
		label {
			font-size: 12px;
			margin-bottom: 15px;
			font-weight: 500;
			color: #0d373d;
		}
		.form-control {
			padding: 15px 20px;
			font-weight: 400;
			border-radius: 4px;
		}
	}

	.input-group {
		width: 100%;

		.input-group-addon {
			top: 32px;
		}

		.form-control {
			width: 100%;
		}
	}
}

.footer-section {
	padding: 120px 0;

	.copy-right {
		margin-bottom: 40px;

		p {
			font-size: 14px;
			line-height: 18px;
			color: #081B1E;
			margin-bottom: 0;
			text-align: center;
			font-weight: 500;
		}
	}

	.quick-link {
		text-align: center;
		margin-bottom: 51px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				position: relative;

				a {
					font-size: 14px;
					color: #081B1E;
					line-height: 18px;
					letter-spacing: 1px;
					font-weight: 500;
					padding: 0 10px;
					
					&:hover {
						color: #1EB7B3;
					}
				}

				&::after {
					content: '/';
				}

				&:last-child {
					&::after {
						content: '/';
						display: none;
					}	
				}
			}
		}
	}

	.footer-social-media {
		text-align: center;
		padding-bottom: 60px;
		position: relative;

		&:after {
			content: '';
			height: 1px;
			width: 100px;
			background-color: #171717;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
		}

		ul {
			li{
				margin-right: 33px;
				list-style: none;
				display: inline-block;
				
				&:last-child {
					margin-right: 0 !important;
				}

				a {
					height: 44px;
					width: 44px;
					background-color: #081B1E;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 18px;
					color: #fff;
					border-radius: 100%;
					transition: all 0.3s  ease-in-out;

					&:hover {
						background-color: #1EB7B3;
						transition: all 0.3s  ease-in-out;
					}
				}
			}
		}
	}
}

// #########################################################################
// ############################# footer section#############################
// #########################################################################

// #########################################################################
// ############################# media query #############################
// #########################################################################

@media (max-width: 767px) {
	.middle-section {
		margin-top: 70px;

		.authentication-box {
			.content-box {
				.login-body {
					padding: 30px 25px;
				}
			}
		}

		.dashbaord-section {
			.add-shipment-main {
				.add-new-shipment {
					.btn-add-ship {
						height: 50px;
						font-size: 18px;
					}
				}
			}

			.summary-status-main {
				.summary-status {
					.status-box {
						h3 {
							font-size: 24px;
							line-height: 32px;
						}

						p {
							font-size: 14px;
							line-height: 20px;
						}
					}

					.chart-summary {
						padding: 30px 20px;
					}
				}
			}
		}

		.overview-section {
			.overview-inner {
				.overview-detail {
					.top-tab {
						position: relative;
						top: 0;
						justify-content: flex-start;
						margin-bottom: 20px;
					}
				}
			}
		}

		.shipment-section {
			.shipment-form-section {
				.shipment-form-header {
					.shipment-tab {
						li {
							a {
								font-size: 12px;
								font-weight: 500;
								line-height: 16px;
								padding-right: 0;
								padding-left: 0;
							}
						}
					}
				}

				.shipment-form-body {
					padding: 30px 20px;

					.form-shipment .radio-group .custom-radio {
						margin-right: 30px !important;
					}

					.form-shipment .radio-group .custom-radio:last-child {
						margin-right: 0 !important;
					}

					.transport-form {
						.price-details .price {
							max-width: unset;
							margin-bottom: 20px;

							p {
								font-size: 14px;
								line-height: 24px;
								margin-bottom: 10px;
							}
						}

						.address-transport {
							ul {
								&::after {
									height: 90%;
                }
                
								li {
									font-size: 12px;
									line-height: 14px;
								}
							}
						}
					}

					.footer-form {
						.btn {
							padding: 8px 40px;
						}
					}
				}
			}
		}

		.address-section {
			.address-inner {
				.address-detail {
					padding: 30px 20px;

					.footer-address {
						.btn {
							padding: 8px 40px;
						}
					}
				}
			}
		}

		.profile-section {
			.profile-inner {
				.profile-detail {
					padding: 30px 20px;

					.top-tab {
						position: unset;
					}

					.footer-profile {
						.btn {
							padding: 8px 40px;
						}
					}
				}
			}
		}

		.banner-section {
			padding: 60px 0;

			.content-left {
				padding: 0px 0;
				margin-bottom: 40px;

				h2 {
					font-size: 50px;
					line-height: 55px;
					margin-bottom: 40px;
				}

				.btn-primary {
					height: 50px;
					padding: 8px 40px;
					line-height: 34px;
				}
			}

			.content-right {
				display: block;

				img {
					display: block;
				}
			}
		}

		.online-store-section {
			padding: 60px 0;

			.heading {
				h3 {
					font-size: 26px;
					line-height: 30px;
				}
			}

			.store-details {
				.store-box {
					&::after {
						display: none;
          }
          
					.step {
						height: 60px;
						width: 60px;
						min-width: 60px;
						border: 10px solid #fff;
						margin-bottom: 15px;

						h3 {
							font-size: 20px;
						}
          }
          
					.step-content {
						width: 100%;
						max-width: unset;
					}
				}
			}
		}

		.wanttosay-section {
			padding: 60px 0 40px 0;
			
			.heading {
				margin-bottom: 30px;

				h3 {
					font-size: 30px;
					line-height: 36px;
					
				}
			}

			.send-us-div {
				.btn-green {
					height: 50px;
					padding: 8px 40px;
					line-height: 34px;
					font-size: 16px;
					line-height: 35px;
				}
			}
		}

		.footer-banner-section {
			min-height: 190px;
		}
	}

	.footer-section {
		padding: 60px 0;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

	.middle-section {
		.banner-section {
			padding: 60px 0;

			.content-left {
				padding: 0px 0;
				margin-bottom: 40px;

				h2 {
					font-size: 50px;
					line-height: 55px;
					margin-bottom: 40px;
				}

				.btn-primary {
					height: 50px;
					padding: 8px 40px;
					line-height: 34px;
				}
			}

			.content-right {
				display: block;

				img {
					display: block;
				}
			}
		}
	}
}


